
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

  z-index: -10;
}

header {
  width: 100%;
  position: fixed;
  top: -150px;
  transition: 0.5s;
  
 }

#Menu {
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: 0.5s;
  left: 0;
  background-color: rgb(0, 0, 128, 0.4);
  border-bottom: 4px solid ;
  border-color: rgba(4, 9, 80, 0.5);
}

#Menu a {
  
  color:#a3ccf1;
  font-size: 45px;
  justify-content:space-around;
  padding: 2%;
  text-decoration: none;
  display: inline-flex;
}

#Menu a:hover {
  color: #000000;
  background-color: rgb(3, 192, 113);
  text-shadow: 5px 5px 10px navy;
}

.content {
  position: fixed;
  background: rgba(27, 255, 160, 0.5);
  color: #f1f1f1;
  width: 20%;
  padding: 20px;

  border: 2px solid;
  border-color: rgb(31, 14, 0) ;
  transition: 0.7s;

  top:-700px;

  margin-left: 37%;
  margin-right: 30%;
  margin-top: 12%;
  margin-bottom: 15%;
  border-radius: 10%;
}

#Eslogan {
  z-index: 3;
  left: 25%;
  font-size: 90px;
  text-align: center;
  font-family: 'Righteous', cursive;
  color: #f1f1f1;
  text-shadow: 5px 5px 10px navy;
  position:fixed;
}

#myBtn {
  position: fixed;
  top: 60%;
  margin-left: 43%;
  width: 10%;

  transition: 0.5s;

  font-size: 30px;
  padding: 10px;
  border: none;
  background: navy;
  color: rgb(204, 200, 200);
  cursor: pointer;
  border-radius: 10%;
}
  

#myBtn:hover {
  background:rgb(3, 192, 113);
  color: black;
}
/*
#myBtn:active {
  visibility: hidden;
  display: none;
  transition: 0.5s;
}
*/
#TituloLogin {
  color: black;
  text-align: center;
  margin: 20px;
  font-size: 45px;;
  font-family: 'Righteous', cursive;
  text-shadow: 5px 5px 10px white;
}

#ParrafoLogin {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: black;
}