
//VARIABLES CON LOS COLORES DE LA WEB.

$texto: rgb(230, 230, 230);
$texto-hover: rgb(189, 250, 202);

$titulos-hover: rgb(189, 250, 202, 0.7);
$shadow-titulos-hover: rgba(225, 235, 230, 0.5);

$bg-body: rgb(14,52,108);
$color-fondo:  linear-gradient(90deg, rgba(14,52,108,1) 0%, rgba(10,25,47,1) 20%, rgba(10,25,47,1) 80%, rgba(14,52,108,1) 100%);

$color-header-footer: rgb(4, 4, 46, .5);

$bg-li: rgb(189,250,235);
$color-li-hover: linear-gradient(90deg, rgba(189,250,235,1) 0%, rgba(34,228,177,1) 100%);

$border: rgba(35, 129, 106, 0.5);