* {
    margin: 0cm;
    padding: 0cm;
}
html {
    scroll-behavior: smooth;
}
nav {
    background-color: navy;
    display: flex;
    width: 100%;
    align-items: center;
    position: sticky;
    margin: 0;
    top: 0;
    
}
nav a {
    font-size: 22px;
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 0.5cm;
    text-decoration: none;
}
nav a:hover {
    background-color: rgb(42, 206, 157);
    color: black;
    text-decoration: none;
}
header img {
    margin-top: 0cm;
    margin-bottom: 0%;
}
body {
    background-image: url("../imagenes/Fondo.png");
}
.Titulo1 {
    font-size: 30px;
    margin: 1cm;
    text-align: center;
    text-decoration: solid;
}
.Introduccion {
    font-size: 25px;
    font-weight: 700;
    padding: 1cm;
    margin-top: 1cm;
    text-align: justify;
}
.Logo {
    margin: 1cm;
    margin-top: 0cm;
    float: right;
    width: 150px;
    padding: 5px;
}
footer {
    margin-bottom: 3cm;
}
table {
    border-style: solid;
    border-color:seagreen;
    border-radius: 5%;
    background-color: lightseagreen;
    margin: auto;
    padding: 5%;
}
table td {
    padding: 15px;
}
aside {
    border-radius: 5%;
    border-style:solid;
    border-color: seagreen;
    padding: 1cm;
    background-color: mediumspringgreen;
    top: 5;
    margin-top: 3cm;
    right: 30px;
    position:fixed;
    float:left;
}
article {
    padding: 1cm;
    margin-left: 3cm;
    margin-right: 4.8cm;
    margin-top: 2cm;
    margin-bottom: 1.5cm;
    float: right;
}
.Tema {
    margin: 3cm;
    padding: 3cm;
}
article h1 {
    font-size: 40px;
}
a {
    text-emphasis: none;
    text-decoration: none;
    text-decoration-color: none;
}
section article a img {
    border-radius: 5%;
    border: 3px solid;
    border-color: teal;
}
p {
    font-size: 18px;
}
article table tr td:hover {
    background-color: navy;
}
article table tr td :hover {
    color: oldlace;
}